body {
    background-color: lightgray;
    font-family: sans-serif;
}

#container {
    margin: 0 auto;
    border: 5px solid #C00000;
    width: 1000px;
    background-color: white;
    padding: 10px;
}

header {
    height: 96px;
    background-color: #C00000;
}

nav {
    height: 26px;
    background-color: black;
    color: white;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #C00000;
    text-decoration: underline;
}

#pizza3 {
    float: left;
}